@import '~node_modules/modern-normalize/modern-normalize.css';


body {
    margin: 0;
    font-family: "Sofia", sans-serif;
    background: rgb(39, 136, 181);
    background: linear-gradient(357deg,
            rgb(20, 16, 90) 0%,
            rgb(58, 58, 136) 25%,
            rgb(127, 191, 204) 100%);
    background-size: cover;
    background-attachment: fixed;
}

.link{
    font-size: 2rem;
}

.h1{
    font-size: 2rem;
}